<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="关于方达">
    <ion-content >
        <img src="img/logo.png" class="company-logo">
        <h2 class="text-center"><strong>方达软件, LLC.</strong></h2><br>
        <p>
            这是一个Ionic框架的手机端演示产品，实现类购物车功能。 欢迎访问我们的公司网站
            <a href="http://www.5starsoft.com.cn/" target="_blank">方达软件</a>了解更多详情。
        </p><br>
        <address class="text-left">
            <p>地  址：银川市金凤区宁安南大街490号ibi育成中心六号楼</p>
            <p>邮  编：750002</p>
            <p><abbr title="Phone">电  话：</abbr>(86) 0951-5699326 5699329</p>
            <p>Email：<a href="mailto:service@5starsoft.com.cn">service@5starsoft.com.cn</a></p>
        </address>
        <form ng-submit="Logout()">
            <div class="padding">
                <button type="submit" class="button button-block button-positive">切换收款账户</button>
            </div>
        </form>
    </ion-content>
</ion-view>
