<?xml version='1.0' encoding='utf-8'?>
<widget id="com.fivestarsoft.cart" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>ShoppingBasket</name>
    <description>
        方达软件菜篮子工程
    </description>
    <author email="service@5starsoft.com.cn" href="http://www.5starsoft.com.cn/">
      方达软件, LLC.
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <feature name="StatusBar">
      <param name="ios-package" value="CDVStatusBar" onload="true" />
    </feature>
</widget>
